<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>END_POINT</key>
	<string>videoToDecode</string>
	<key>LOCAL_PORT</key>
	<string>8010</string>
	<key>LOCAL_URL</key>
	<string>http://192.168.0.113</string>
	<key>SessionId</key>
	<string>sessionId</string>
</dict>
</plist>
